.center {
    text-align: center;
    font-size: 20px;
    font-family: jetbrains mono;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 7%;
    padding-bottom: 7%;
}

.element {
    border-radius: 2px;
    text-align: center;
}
button {
    border: 1px solid black;
    font-size: 70px;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    cursor: pointer;
}

#playerChoice,
#computerChoice,
#result {
    font-size: 25px;
    padding: 30px;
}
